[Unit]
Description=KDE PolicyKit Authentication Agent
PartOf=compositor.target
After=compositor.target

[Service]
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
ExecStop=kill -HUP $MAINPID
ExecCondition=/bin/sh -c "[ -n $WAYLAND_DISPLAY ]"
Slice=background.slice
BusName=org.kde.polkit-kde-authentication-agent-1
TimeoutSec=5sec
Restart=on-failure

[Install]
WantedBy=compositor.target
