[Unit]
Description=Wayland Wallpaper Service
PartOf=compositor.target
After=compositor.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=HOME
ConditionEnvironment=XDG_RUNTIME_DIR

[Service]
ExecStart=swww-daemon
# ExecStartPost=sh -c 'bash %h/.config/systemd/user/scripts/init-wallpapers.bash || true'
ExecStop=kill -SIGTERM $MAINPID
TimeoutSec=5sec
Restart=on-failure
RestartSec=3

[Install]
WantedBy=compositor.target
