$sumiInk0: #16161d;
$sumiInk1: #181820;
$sumiInk2: #1a1a22;
$sumiInk3: #1f1f28;
$sumiInk4: #2a2a37;
$sumiInk5: #363646;
$sumiInk6: #54546d;
$waveBlue1: #223249;
$waveBlue2: #2d4f67;
$winterGreen: #2b3328;
$winterYellow: #49443c;
$winterRed: #43242b;
$winterBlue: #252535;
$autumnGreen: #76946a;
$autumnRed: #c34043;
$autumnYellow: #dca561;
$samuraiRed: #e82424;
$roninYellow: #ff9e3b;
$oldWhite: #c8c093;
$fujiWhite: #dcd7ba;
$fujiGray: #727169;
$oniViolet: #957fb8;
$oniViolet2: #b8b4d0;
$crystalBlue: #7e9cd8;
$springViolet1: #938aa9;
$springViolet2: #9cabca;
$springBlue: #7fb4ca;
$lightBlue: #a3d4d5;
$waveAqua1: #6a9589;
$waveAqua2: #7aa89f;
$waveAqua3: #68ad99;
$waveAqua4: #7aa880;
$waveAqua5: #6caf95;
$springGreen: #98bb6c;
$boatYellow1: #938056;
$boatYellow2: #c0a36e;
$carpYellow: #e6c384;
$sakuraPink: #d27e99;
$waveRed: #e46876;
$peachRed: #ff5d62;
$surimiOrange: #ffa066;
$katanaGray: #717c7c;
