@import url("style.css");

window {
  font-size: 16px;
}

#entry {
  border: none;
  border-radius: 16px;
  padding: 0px;
  min-height: 8px;
  background-color: transparent;
  font-weight: bold;
}

#entry:selected {
  outline: none;
  border: none;
  border-radius: none;
  background: none;
  background-size: none;
}
