/* fujiWhite      #DCD7BA; */
/* oldWhite       #C8C093; */
/* sumiInk0       #16161D; */
/* sumiInk1       #1F1F28; */
/* sumiInk2       #2A2A37; */
/* sumiInk3       #363646; */
/* sumiInk4       #54546D; */
/* waveBlue1      #223249; */
/* waveBlue2      #2D4F67; */
/* winterGreen    #2B3328; */
/* winterYellow   #49443C; */
/* winterRed      #43242B; */
/* winterBlue     #252535; */
/* autumnGreen    #76946A; */
/* autumnRed      #C34043; */
/* autumnYellow   #DCA561; */
/* samuraiRed     #E82424; */
/* roninYellow    #FF9E3B; */
/* waveAqua1      #6A9589; */
/* dragonBlue     #658594; */
/* fujiGray       #727169; */
/* springViolet1  #938AA9; */
/* oniViolet      #957FB8; */
/* crystalBlue    #7E9CD8; */
/* springViolet2  #9CABCA; */
/* springBlue     #7FB4CA; */
/* lightBlue      #A3D4D5; */
/* waveAqua2      #7AA89F; */
/* springGreen    #98BB6C; */
/* boatYellow1    #938056; */
/* boatYellow2    #C0A36E; */
/* carpYellow     #E6C384; */
/* sakuraPink     #D27E99; */
/* waveRed        #E46876; */
/* peachRed       #FF5D62; */
/* surimiOrange   #FFA066; */

/* Global Styling */
* {
  border: none;
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 13px;
  border-radius: 0px;
  margin-top: 0.1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/* Bar Styling */
#waybar {
  background: transparent;
}

#cpu,
#temperature,
#memory,
#battery,
#disk,
#custom-audio-device,
#workspaces,
#custom-media,
#custom-weather,
#custom-launcher,
#network,
#clock,
#wireplumber,
#image,
#submap,
tooltip,
tooltip label,
#taskbar,
#tray,
#backlight,
#privacy,
#systemd-failed-units,
#tray menu,
#custom-lock {
  background-color: #16161d;
  color: #dcd7ba;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
}

tooltip {
  background-color: #16161d;
  color: #dcd7ba;
  border-radius: 20px;
}

#submap {
  background-color: #FF5D62
}

#custom-media {
  margin-left: 0rem;
  margin-right: 0rem;
}

#custom-media.playing {
  background: linear-gradient(
    -45deg,
    rgba(126, 156, 216, 0.9),
    rgba(210, 126, 153, 0.9),
    rgba(255, 93, 98, 0.9),
    rgba(255, 93, 98, 0.9),
    rgba(255, 93, 98, 0.9),
    rgba(255, 93, 98, 0.9),
    rgba(255, 93, 98, 0.9),
    rgba(255, 93, 98, 0.9),
    rgba(255, 93, 98, 0.9),
    rgba(210, 126, 153, 0.9),
    rgba(149, 127, 184, 0.9)
  );
}

/* Launcher */
#custom-launcher {
  padding-right: 0.3rem;
  padding-left: 0rem;
  margin-right: 0rem;
  color: #957fb8;
}

/* System Status */
#cpu,
#temperature,
#memory,
#disk,
#battery {
  color: #7e9cd8;
  margin-left: 0rem;
  margin-right: 0rem;
}

#cpu {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0em;
}

#memory {
  border-radius: 0px;
  padding-left: 0.1rem;
  padding-right: 0.35rem;
}

#temperature {
  border-radius: 0px;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

#disk {
  color: #dca561;
  border-radius: 0px;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

#battery {
  margin-left: 0rem;
  padding-left: 0rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #98bb6c;
}

#battery.discharging.warning {
  color: #e6c384;
}

#battery.discharging.near-critical {
  color: #c34043;
}

#battery.discharging.critical {
  color: #e82424;
}

#battery.charging {
  color: #a3d4d5;
}

/* Audio Device & Wireplumber Audio Return */
#custom-audio-device,
#wireplumber {
  margin-right: 0rem;
}

#custom-audio-device {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0.35rem;
  color: #ff9e3b;
}

#wireplumber {
  border-top-left-radius: 0;
  padding-left: 0.35rem;
  border-bottom-left-radius: 0;
  margin-left: 0rem;
  color: #d27e99;
}

/* Taskbar, showing icons of open applications */
#taskbar button {
  border-radius: 4px;
  margin-top: 0.1em;
  min-height: 0.25em;
  padding-left: 0em;
  padding-right: 0em;
  background-color: transparent;
}

#taskbar button.active {
  border-bottom: 0.2em solid #ff9e3b;
  background-color: rgba(255, 158, 59, 0.2);
}

#taskbar button:hover {
  border-bottom: 0.2em solid #ff5d62;
  background: rgba(255, 93, 98, 0.3);
}

/* Worksapces */
#workspaces {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 1em;
  padding-bottom: 1em;
}

#workspaces * {
  font-size: 0px;
}

#workspaces button {
  border-radius: 50%;
  min-height: 1rem;
  min-width: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #54546d;
  color: transparent;
}

#workspaces button.active {
  background: radial-gradient(
    circle,
    #e46876 0%,
    #a3d4d5 25%,
    #ff9e3b 30%,
    #ff5d62 60%,
    #957fb8 100%
  );
  background-size: 400% 400%;
  /* PERF: Animations in gtk css cause incredible CPU loads, wtf?!
  *  Disabling this shit for now, not worth the CPU cost. */
  /* animation: gradient_roll 30s ease-in-out infinite; */
}

#workspaces button:hover {
  background: #98bb6c;
}


#privacy-item.audio-in {
  color: #FF5D62;
  -gtk-icon-shadow: 0 0 2px #FF5D62;
}

#privacy-item.audio-out {
  color: #98BB6C;
  -gtk-icon-shadow: 0 0 2px #98BB6C;
}

#privacy-item.screenshare {
  color: #A3D4D5;
  -gtk-icon-shadow: 0 0 2px #A3D4D5;
}

#privacy-item.screenshare {
  color: #A3D4D5;
}

#systemd-failed-units.ok {
  color: #98BB6C;
}

#systemd-failed-units.degraded {
  color: #FF5D62;
  font-weight: bolder;
}

/* Tray */
#tray {
  -gtk-icon-shadow: 0 0 2px #957fb8;
}

#tray menu {
  border-radius: 0px;
  -gtk-icon-shadow: none;
}

/* Backlight */
#backlight {
  color: #DCA561;
}

/* Network */
#network {
  color: #a3d4d5;
}

#network.disconnected {
  color: #e6c384;
}

#network.disabled {
  color: #ff5d62;
}

/* Clock */
#clock {
  color: #ff9e3b;
}

/* Lock */
#custom-lock {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin-right: 0rem;
  color: #957fb8;
}

/*=============*/
/* Animations */
/*===========*/
@keyframes gradient_roll {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes blink_text {
  50% {
    color: transparent;
  }
}

@keyframes gradient_scroll {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
