/* fujiWhite      #DCD7BA; */
/* oldWhite       #C8C093; */
/* sumiInk0       #16161D; */
/* sumiInk1       #1F1F28; */
/* sumiInk2       #2A2A37; */
/* sumiInk3       #363646; */
/* sumiInk4       #54546D; */
/* waveBlue1      #223249; */
/* waveBlue2      #2D4F67; */
/* winterGreen    #2B3328; */
/* winterYellow   #49443C; */
/* winterRed      #43242B; */
/* winterBlue     #252535; */
/* autumnGreen    #76946A; */
/* autumnRed      #C34043; */
/* autumnYellow   #DCA561; */
/* samuraiRed     #E82424; */
/* roninYellow    #FF9E3B; */
/* waveAqua1      #6A9589; */
/* dragonBlue     #658594; */
/* fujiGray       #727169; */
/* springViolet1  #938AA9; */
/* oniViolet      #957FB8; */
/* crystalBlue    #7E9CD8; */
/* springViolet2  #9CABCA; */
/* springBlue     #7FB4CA; */
/* lightBlue      #A3D4D5; */
/* waveAqua2      #7AA89F; */
/* springGreen    #98BB6C; */
/* boatYellow1    #938056; */
/* boatYellow2    #C0A36E; */
/* carpYellow     #E6C384; */
/* sakuraPink     #D27E99; */
/* waveRed        #E46876; */
/* peachRed       #FF5D62; */
/* surimiOrange   #FFA066; */

* {
  min-height: 0;
  padding: 3px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#waybar {
  background: transparent;
  font-family: JetBrainsMono;
  font-size: medium;
  color: #dcd7ba;
}

#custom-media {
  background: #16161d;
  border-top: 2px solid #957fb8;
  border-left: 2px solid #957fb8;
  border-right: 2px solid #957fb8;
  color: #dcd7ba;
}

#custom-asusmode {
  background: #16161d;
  border-top: 2px solid #957fb8;
  border-left: 2px solid #957fb8;
  color: #dcd7ba;
}

#custom-audio-device {
  background: #16161d;
  border-top: 2px solid #957fb8;
  border-left: 2px solid #957fb8;
  color: #dcd7ba;
}

#custom-sway-mode {
  background: #16161d;
  border-bottom: 2px solid #957fb8;
  border-left: 2px solid #957fb8;
  color: #dcd7ba;
}

#workspaces {
  background: #16161d;
  transition: none;
  border-top: 2px solid #957fb8;
  border-left: 2px solid #957fb8;
  border-right: 2px solid #957fb8;
  padding-right: 20px;
  padding-left: 20px;
}

#workspaces button {
  transition: none;
  margin: 0px;
  color: #957fb8;
  background: transparent;
  border-bottom: 2px solid #957fb8;
  border-radius: 0px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#workspaces button.active {
  color: #98bb6c;
  border-bottom: 2px solid #98bb6c;
  border-radius: 0px;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-top: 0px;
  border-bottom: 2px solid #a3d4d5;
  color: #a3d4d5;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
}

#idle_inhibitor {
  margin-left: 0px;
  background: #16161d;
  border-top: 2px solid #957fb8;
  border-left: 2px solid #957fb8;
  color: #dcd7ba;
}

#network,
#custom-weather,
#clock,
#custom-lock {
  background: #16161d;
  border-top: 2px solid #957fb8;
  border-right: 2px solid #957fb8;
  color: #dcd7ba;
}

#cpu,
#memory,
#custom-pipewire,
#disk,
#temperature,
#battery {
  background: #16161d;
  border-top: 2px solid #957fb8;
  border-left: 2px solid #957fb8;
  color: #dcd7ba;
}

#disk.critical {
  color: #e82424;
}

#temperature.critical {
  color: #e82424;
}

#cpu.critical {
  color: #e82424;
}

#memory.critical {
  color: #e82424;
}

@keyframes blink1 {
  to {
    color: #98bb6c;
  }
}

#battery.plugged {
  background-color: #16161d;
  animation-name: blink1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink2 {
  to {
    background-color: #e6c384;
  }
}

#battery.charging {
  animation-name: blink2;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink3 {
  to {
    background-color: #ff9e3b;
  }
}

#battery.warning:not(.charging) {
  animation-name: blink3;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink4 {
  to {
    background-color: #e82424;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink4;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#language {
  border-bottom: 2px solid #957fb8;
  border-right: 2px solid #957fb8;
  background: #16161d;
  color: #dcd7ba;
}
