/* fujiWhite      #DCD7BA; */
/* oldWhite       #C8C093; */
/* sumiInk0       #16161D; */
/* sumiInk1       #1F1F28; */
/* sumiInk2       #2A2A37; */
/* sumiInk3       #363646; */
/* sumiInk4       #54546D; */
/* waveBlue1      #223249; */
/* waveBlue2      #2D4F67; */
/* winterGreen    #2B3328; */
/* winterYellow   #49443C; */
/* winterRed      #43242B; */
/* winterBlue     #252535; */
/* autumnGreen    #76946A; */
/* autumnRed      #C34043; */
/* autumnYellow   #DCA561; */
/* samuraiRed     #E82424; */
/* roninYellow    #FF9E3B; */
/* waveAqua1      #6A9589; */
/* dragonBlue     #658594; */
/* fujiGray       #727169; */
/* springViolet1  #938AA9; */
/* oniViolet      #957FB8; */
/* crystalBlue    #7E9CD8; */
/* springViolet2  #9CABCA; */
/* springBlue     #7FB4CA; */
/* lightBlue      #A3D4D5; */
/* waveAqua2      #7AA89F; */
/* springGreen    #98BB6C; */
/* boatYellow1    #938056; */
/* boatYellow2    #C0A36E; */
/* carpYellow     #E6C384; */
/* sakuraPink     #D27E99; */
/* waveRed        #E46876; */
/* peachRed       #FF5D62; */
/* surimiOrange   #FFA066; */

/* Global Styling */
* {
  border: none;
  font-family: "Fira Code", monospace;
  font-size: 13px;
  border-radius: 0px;
  margin-top: 0.1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/* Bar Styling */
#waybar {
  background: transparent;
}

#cpu,
#temperature,
#custom-asusmode,
#memory,
#battery,
#disk,
#custom-audio-device,
#workspaces,
#custom-media,
#custom-weather,
#custom-launcher,
#network,
#clock,
#wireplumber,
#image,
#custom-pacman-update,
#custom-lock {
  background-color: #16161d;
  color: #dcd7ba;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
}

/* Media */
#custom-media {
  margin: 0;
  background-size: 400% 400%;
  /*
  * NOTE: As much as I'd love to have this animation on, gtk enjoys being a massive pile of shit and causes the CPU to
  * turn into a space heater. */
  /* animation: gradient_scroll 10s ease infinite; */
}

/* Launcher */
#custom-launcher {
  padding-right: 0.3rem;
  padding-left: 0.1rem;
  color: #957fb8;
  margin-right: 0.25rem;
}

/* System Status */
#cpu,
#temperature,
#memory,
#disk,
#battery {
  color: #7e9cd8;
  margin-left: 0rem;
  margin-right: 0rem;
}

#cpu {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0em;
}

#memory {
  border-radius: 0px;
  padding-left: 0.1rem;
  padding-right: 0.35rem;
}

#temperature {
  border-radius: 0px;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

#disk {
  color: #dca561;
  border-radius: 0px;
  padding-left: 0.35rem;
  padding-right: 1rem;
}

#battery {
  margin-left: 0rem;
  padding-left: 0rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #98bb6c;
}

#battery.warning {
  color: #e6c384;
}

#battery.near-critical {
  color: #c34043;
}

#battery.critical {
  color: #e82424;
  animation: blink_text 1.5s linear infinite;
}

/* Audio Device & Wireplumber Audio Return */
#custom-audio-device,
#wireplumber {
  margin-right: 0rem;
}

#custom-audio-device {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0.35rem;
  color: #ff9e3b;
}

#wireplumber {
  border-top-left-radius: 0;
  padding-left: 0.35rem;
  border-bottom-left-radius: 0;
  margin-left: 0rem;
  color: #d27e99;
}

/* Worksapces */
#workspaces {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 1em;
  padding-bottom: 1em;
}

#workspaces * {
  font-size: 0px;
}

#workspaces button {
  border-radius: 50%;
  min-height: 0.0em;
  min-width: 0.0em;
  padding-left: 0.0rem;
  padding-right: 0.0rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #54546d;
  color: transparent;
}

#workspaces button.active {
  background: radial-gradient(
    circle,
    #d27e99 0%,
    #e46876 10%,
    #7fb4ca 20%,
    #a3d4d5 30%,
    #ff9e3b 40%,
    #e6c384 50%,
    #98bb6c 60%,
    #938aa9 70%,
    #9cabca 80%,
    #ffa066 90%,
    #957fb8 100%
  );
  background-size: 400% 400%;
  animation: gradient_roll 30s ease-in-out infinite;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: #ff5d62;
}

/* Pacman Updates */
#custom-pacman-update {
  color: #7E9CD8;
}

/* Asus Fan Mode */
#custom-asusmode {
  color: #ffa066;
}

/* Network */
#network {
  color: #a3d4d5;
}

#network.disconnected {
  color: #e6c384;
}

/* Clock */
#clock {
  color: #ff5d62;
}

/* Lock */
#custom-lock {
  color: #957fb8;
}

/*=============*/
/* Animations */
/*===========*/
@keyframes gradient_roll {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes blink_text {
  50% {
    color: transparent;
  }
}

@keyframes gradient_scroll {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
